/* =============== R E S P O N S I V E ============= */


/* =============== Au dessus de 1280px ============= */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media all and (min-width: 1200px){
	
	/* ---- HOME ---- */
	
	#conteneur {min-width: 1200px;}

	.carousel {
		width: 80%;
	}

	.nosProduits img.produit {
		width: 100%;
		height: 100%;
	}

	.nosProduits .vignettes {
		margin-right: 120px;
	}

	.nosProduits .vignettes.droite {
		float: right;
		margin-right: 0;
	}
	
	.catalogueProduit .vignetteProduit {
		margin: 40px;
	}

	.catalogueProduit .vignetteProduit .bandeauBas .triangle {
		left: 63%;
	}
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* =============== Au dessus de 1280px ============= */




/* ============= Entre 960px et 1200px ============= */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */


@media all and (min-width: 960px) and (max-width: 1200px){

	#conteneur {
		max-width: 900px; 
	}

	/* ---- HEADER ---- */	
	
	.bandeau2 {
		margin-left: 20px;		
		margin-right: 20px;	
	}

	.bandeau2 .logo {
		width: 50%;		
	}
	
	.bandeau2 .service-content {
		float: right;
		width: 50%;
	}

	/* ---- NAV ---- */
	
	nav ul li a {
		font-size: 0.8em;
		padding: 12px 10px 12px 10px ;
	} 
	
	nav ul li a:(first-child) {
		margin-left: 50px;
	}

	nav ul li .search-container input[type=text] {
		padding: 2px;
		width: 120px;
	}
	
	nav ul li .search-container form button {
		margin-right: 50px;
	}

	/* ---- HOME (index) ---- */
	
	.carousel {
		width: 90%;
	}

	.slideHome {
		width: 75%;
	}

	.slideHome img {
		height: 260px;
	}

	/* ---- FAQ / Aides ---- */

	section.faq .questionsFrequentes {
		width: 70%;
	}

	/* ---- Nos boutiques ---- */

	section.nosBoutiques .boutique {
		width: 40%;
		height: 130px;
	}

	/* ---- Plan du site ---- */

	section.planSite  {
		width: 90%;
	}

	section.planSite .col-plan {
		width: 30%;
		margin: 0px 10px;
	}

	/* ---- Devis ---- */

	.formulaire .etapes .jauge {
		width: 80px;
	}

	/* ---- Pose ---- */

	.formulaire .pose {
		width: 65%;
		font-size: 0.9em;
	}

	.formulaire .photoPose {
		width: 30%;
	}

}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ============= Entre 960px et 1200px ============= */




/* ============== Entre 959px et 768px ============= */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */


@media all and (min-width: 768px) and (max-width: 959px){

	#conteneur {
		min-width: 100%;  
	}

	/* ---- HEADER ---- */ 
	
	.bandeau1 {
		max-height: 30px; 
		line-height: 30px; 
		font-size: 0.8em;
	}
	
	.bandeau1 .satisfait {
		padding-left: 10px;
	}
	
	.bandeau1 .paiement {
		padding-right: 10px;
	}

	.bandeau2 {
		min-height: 150px;
	}
	
	.bandeau2 .logo {
		width: 100%;			
		margin: 0px auto;		
	}

	.bandeau2 {
		margin-left: 20px;
		margin-right: 20px;
	}

	.bandeau2 .logo{
		width: 50%;
		margin: 0; 
		float: left; 
	}

	.service-content {
		float: right;
		width: 50%; 
	}	

	/* ---- NAV ---- */
	
	.hamburger {
		display: inline;
		padding-left: 50px;
		padding-right: 50px;
		border: none;
		height: 41px;
		background: linear-gradient(white, lightgrey);
	}

	nav ul li div.search-container form button {
		margin-right: 45px;
		margin-top: 8px;
	}	

	nav ul li .search-container input[type=text] {
		margin-top: 8px;
	}	

	nav ul li a:not(first-child) {
		display: none;
	}

	.deroulant {
		display: block;
		width: 100%;
		background-color: lightgrey;
		position: relative;
	}

	.deroulant a {
		display: block;
		flex-direction: column;
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		padding: 10px 0 10px 0;
	}

	.deroulant a:hover {
		border-bottom: solid 2px #f52875;
	}

	/* ---- HOME ---- */
	
	.carousel {
		width: 90%;
	}

	.slideHome {
		width: 100%;
	}

	.slideHome img {
		height: 375px;
		overflow: hidden;	
	}

	.slideDroite {
		width: 100%;
		float: none;
	}

	.slideCarrelage {
		width: 50%;
		padding-right: 5px; 
		float: left;
	}

	.slideCarrelage img {
		width: 100%;
	}

	.slideParquet {
		width: 50%;
		float: right;
	}

	.slideParquet img {
		width: 100%;
	}

	.nosProduits {
		margin: 0 auto;
	}

	.nosProduits div.vignettes {
		width: 40%;
		margin: 20px 30px;
		float: left;
	}	

	.nosProduits img.produit {
		height: 100%;
	}
	
	/* ---- INDEX-PRODUITS ---- */

	section.indexProduit {
		width: 100%;
		margin: 0 auto;
	}

	.bandeauProduit .promo1 {
		font-size: 1.4em;	
	}

	.bandeauProduit .promo2 {
		font-size: 0.9em;	
	}

	.bandeauProduit .promo3 {
		font-size: 0.7em;
	}

	.bandeauProduit .promo4 {
		font-size: 1.4em;
	}		

	/* ---- FORMULAIRE DE CONTACT ---- */
	
	.contact {
		width: 50%;
	}
	
	/* ---- FAQ / Aides ---- */
	section.faq .questionsFrequentes {
		width: 75%;
	}

	/* ---- CGV ---- */

	section.cgv .sommaire {
		float: none;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.hautDePage {
		width: 40px;
		height: 40px;
		line-height: 58px;
		right: 20px;
		top: 50%;
	}

	/* ---- Nos boutique ---- */

	section.nosBoutiques .boutique {
		width: 39%;
		height: 170px;
	}

	/* ---- Plan du site ---- */

	section.planSite  {
		width: 100%;
	}

	section.planSite .col-plan {
		width: 30%;
		margin: 0px 0px;
	}

	/* ---- Devis ---- */

	.formulaire .etapes .jauge {
		width: 60px;
	}

	/* ---- Pose ---- */

	.formulaire .pose {
		width: 100%;
	}

	.formulaire img.photoPose {
		width: 60%;
	}

	.formulaire .float-left {
		float: none;
	}

	.formulaire .float-right {
		float: none;
	}
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ============= Entre 959px et 768px ============== */





/* ============== Entre 767px et 480px ============= */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */


@media all and (min-width: 480px) and (max-width: 768px){
	
	/* ---- HOME ---- */
	
	.bandeau1 {
		max-height: 30px; 
		line-height: 30px; 
		font-size: 0.6em;
	}
	
	.bandeau1 .satisfait {
		padding-left: 10px;
	}
	
	.bandeau1 .paiement {
		padding-right: 10px;
	}	
	
	.bandeau2 {
		min-height: 230px;
		margin: 0 auto;
	}	
	
	.bandeau2 .logo {
		float: none;
		width: 250px;
		margin: 0 auto;
	}
	
	.bandeau2 .service-content {
		float: none;
		width: 90%;
		padding-top: 70px;
		margin: 0 auto;
	}
	
	/* ---- NAV ---- */
	
	.hamburger {
		display: inline;
		padding-left: 50px;
		padding-right: 50px;
		border: none;
		height: 41px;
		background: linear-gradient(white, lightgrey);
	}

	nav ul li div.search-container form button {
		margin-right: 45px;
		margin-top: 8px;
	}	

	nav ul li .search-container input[type=text] {
		margin-top: 8px;
	}	

	nav ul li a:not(first-child) {
		display: none;
	}

	.deroulant {
		display: block;
		width: 100%;
		background-color: lightgrey;
		position: relative;
	}

	.deroulant a {
		display: block;
		flex-direction: column;
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		padding: 10px 0 10px 0;
	}

	.deroulant a:hover {
		border-bottom: solid 2px #f52875;
	}

	/* ---- HOME ---- */
	
	.carousel {
		width: 90%;
	}

	.slideHome {
		width: 100%;
		float: none;
	}

	.slideHome img {
		width: 100%;
		overflow: hidden;
	}

	.slideHome .legende {
		display: none;
	}

	.slick-dots {
		bottom: 10px;
	    padding-right: 20px;
	    text-align: center;
	}

	.slideDroite {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}

	.slideCarrelage {
		width: 50%;
		padding-right: 10px;
		float: left;
	}

	.slideCarrelage img {
		width: 100%;
		overflow: hidden;
	}

	.slideParquet {
		width: 50%;
		float: left;
	}

	.slideParquet img {
		width: 100%;
		overflow: hidden;
	}

	.menu {
		display: none;
	}

	.nosProduits {
		margin: 0 auto;
		width: 100%;
	}

	.nosProduits div.vignettes {
		width: 60%;
		margin: 20px auto;
		float: none;
	}	

	.nosProduits img.produit {
		height: 100%;
	}
	
	/* ---- INDEX PRODUITS ---- */
	
	section.indexProduit {
		width: 100%;
		margin: 0 auto;
	}

	.bandeauProduit {
		border: none;
	}

	.bandeauProduit .promo1 {
		font-size: 1.4em;	
		text-align: center;
	}

	.bandeauProduit .promo2 {
		font-size: 0.9em;	
		text-align: center;
	}

	.bandeauProduit .promo3 {
		font-size: 0.7em;
	}

	.bandeauProduit .promo4 {
		font-size: 1.4em;
	}

	section.indexProduit .encartPromo {
		float: none;
		width: 100%;
		border: 1px solid lightgrey;
	}

	section.indexProduit .encartImage {
		width: 100%;
		height: auto;
	} 

	section.indexProduit .vignetteProduit {
		width: 40%;
		margin: 20px 20px;
	}

	.catalogueProduit .vignetteProduit div:nth-child(2) {
		height: auto;
	}

	.catalogueProduit .vignetteProduit .bandeauBas .triangle {
		display: none;
	}	

	/* ---- FORMULAIRE CONTACT ---- */
	
	.contact {
		width: 60%;
		font-size: 0.9em;
	}
	
	/* ---- FAQ / Aides ---- */

	section.faq .questionsFrequentes {
		width: 100%;
	}

	/* ---- POPUP ---- */

	.pageModale {
	   	width:400px;
	   	height:400px;
	}

	/* ---- CGV ---- */

	section.cgv .sommaire {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.hautDePage {
		width: 30px;
		height: 30px;
		line-height: 48px;
		right: 10px;
		top: 50%;
	}

	/* ---- Qui sommes nous ? ---- */

	section.quiSommesNous  {
		width: 100%;
	}

	section.quiSommesNous .aPropos {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	section.quiSommesNous .float-left {
		float: none;
		text-align: justify;
	}

	section.quiSommesNous .float-right {
		float: none;
		text-align: justify;
	}

	section.quiSommesNous .aPropos p {
		width: 100%;
	}

	section.quiSommesNous .aPropos img {
		width: 60%;
	}

	section.quiSommesNous .bandeauAPropos {
		height: 80px;
		width: 90%;
		margin: 0 auto;
		line-height: 25px;
	}

	section.quiSommesNous .bandeauAPropos div {
		float: none;
		width: 100%;
		border: none;
		border-bottom: 2px solid white;
		margin: 0px;
	}

	section.quiSommesNous .bandeauAPropos div:nth-child(3){
		border: none;
	}

	/* ---- Nos boutiques ---- */

	section.nosBoutiques .boutique {
		width: 90%;
		float: none;
	}

	/* ---- Plan du site ---- */

	section.planSite  {
		width: 100%;
	}

	section.planSite div.col-plan {
		float: none;
		width: 80%;
	}

	/* ---- Devis ---- */

	.formulaire .etapes .jauge {
		width: 10%;
	}

	.formulaire .etapes .etape {
		width: 15%;
		margin: 5px;
		font-size: 0.8em;
	}

	.formulaire .etapes .etape img {
		width: 30px;
	}

	/* ---- Pose ---- */

	.formulaire .pose {
		width: 100%;
	}

	.formulaire img.photoPose {
		width: 70%;
	}

	.formulaire .float-left {
		float: none;
	}

	.formulaire .float-right {
		float: none;
	}

	/* ---- FOOTER ---- */
	
	.sectionInfos {
		width: 100%;
	}
	
	.sectionInfos div.infosEshop {
		float: none;
	}	
	
	.sectionInfos div.infosEshop.col1 {
		width: 100%;
		margin-right: 60px;
	}

	.sectionInfos div.infosEshop.col2 {
		width: 100%;
		margin-right: 30px;
	}

	.sectionInfos div.infosEshop.col3 {
		width: 100%;
	}
	
	footer .col-foot {
		width: 50%;
		float: left;
	}

}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ============= Entre 768px et 480px ============== */





/* ================ Moins de 480px =============== */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

@media all and (max-width: 479px){

	#conteneur {
		min-width: 100%;
	}
	
	/* ---- HEADER ---- */
	
	.bandeau1 {
		min-height: 90px;
		font-size: 0.6em;
		flex-direction: column;
		justify-content: flex-start;
	}
	
	.bandeau1 .satisfait {
		padding-left: 0;
		line-height: -1px;
		margin: 0 auto;
	}
	
	.bandeau1 .tel {
		padding-left: 0;
		margin: 0 auto;	
		line-height: -1px;
	}
	
	.bandeau1 .paiement {
		padding-right: 10px;
		margin: 0 auto;	
		line-height: -30px; 
	}	
	
	.bandeau2 {		
		min-height: 230px;
		margin: 0 auto;
	}	
	
	.bandeau2 .logo {	
		float: none;
		width: 250px;
		margin: 0 auto;
	}
	
	.bandeau2 .service-content {  
		display: none;
	}

	.bandeau2 .service-content-v2 {  
		display: block;
		width: 100%; 
		padding-top: 50px; 
	}

	.bandeau2 .service-content-v2 img {
		float : left;
		width: 25%;
		padding: 15px;
	}
	
	/* ---- NAV ---- */
	
	.hamburger {
		display: block;
		text-align: center;
		border: none;
		height: 41px;
		width: 100%;
		background: linear-gradient(white, lightgrey);
	}
	
	nav ul li div.search-container form button {
		margin-top: 5px;
	}	

	nav ul li .search-container input[type=text] {
		margin: 5px auto;
	}

	.search-container {
		display: block;
		margin: 0 auto;
	}

	nav ul li a:not(first-child) {
		display: none;
	}

	.deroulant {
		display: block;
		width: 100%;
		background-color: lightgrey;
		position: relative;
	}

	.deroulant a {
		display: block;
		flex-direction: column;
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		padding: 10px 0 10px 0;
	}

	.deroulant a:hover {
		border-bottom: solid 2px #f52875;
	}
	
	/* ---- HOME (index) ---- */
	
	.carousel {
		width: 90%;
	}

	.slideHome {
		display: none;
	}

	.slideDroite {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}

	.slideCarrelage{
		width: 100%;
		float: none;
	}

	.slideParquet {
		width: 100%;
		float: none;
		margin-bottom: 50px;
	}

	.menu {
		display: none;
	}

	.nosProduits {
		margin: 0 auto;
		width: 100%;
	}

	.nosProduits div.vignettes {
		width: 60%;
		margin: 20px auto;
		float: none;
	}	

	.nosProduits img.produit {
		height: 100%;
	}

	.nosProduits .voir, .ajout, .devis {
		font-size: 0.55em;
	}
	
	/* ---- INDEX PRODUITS ---- */
	
	section.indexProduit {
		width: 100%;
		margin: 0 auto;
	}

	.bandeauProduit {
		border: none;
	}

	.bandeauProduit .promo1 {
		font-size: 1.4em;	
		text-align: center;
	}

	.bandeauProduit .promo2 {
		font-size: 0.9em;	
		text-align: center;
	}

	.bandeauProduit .promo3 {
		font-size: 0.7em;
	}

	.bandeauProduit .promo4 {
		font-size: 1.4em;
	}

	section.indexProduit .encartPromo {
		float: none;
		width: 80%;
		margin: 0 auto;
		border: 1px solid lightgrey;
	}

	section.indexProduit .encartImage {
		display: none;
		width: 100%;
		height: auto;
	} 

	section.indexProduit .vignetteProduit {
		float: none;
		width: 80%;
		margin: 10px auto;
	}

	.catalogueProduit .vignetteProduit div:nth-child(2) {
		height: auto;
	}

	.catalogueProduit .vignetteProduit .bandeauBas .triangle {
		display: none;
	}

	/* ---- FORMULAIRE CONTACT ---- */
	
	.contact {
		width: 80%;
		font-size: 0.8em;
	}
	
	/* ---- FAQ / Aides ---- */

	section.faq .questionsFrequentes {
		width: 100%;
	}

	.pageModale {
	   	width:350px;
	   	height:400px;
	}

	section.faq h2, section.mentionsLegales h2, section.cgv h2, section.quiSommesNous h2, section.planSite h2, section.formulaire h2, section.client h2, section.avis h2 {
		font-size: 1.1em;
	}

	/* ---- CGV ---- */

	section.cgv .sommaire {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.hautDePage {
		width: 30px;
		height: 30px;
		line-height: 48px;
		right: 5px;
		top: 50%;
	}

	/* ---- Qui sommes nous ---- */

	section.quiSommesNous  {
		width: 100%;
	}

	section.quiSommesNous .aPropos {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	section.quiSommesNous .float-left {
		float: none;
		text-align: justify;
	}

	section.quiSommesNous .float-right {
		float: none;
		text-align: justify;
	}

	section.quiSommesNous .aPropos p {
		width: 100%;
	}

	section.quiSommesNous .aPropos img {
		width: 90%;
	}

	section.quiSommesNous .bandeauAPropos {
		height: 80px;
		width: 90%;
		margin: 0 auto;
		line-height: 25px;
	}

	section.quiSommesNous .bandeauAPropos div {
		float: none;
		width: 100%;
		border: none;
		border-bottom: 2px solid white;
		margin: 0px;
	}

	section.quiSommesNous .bandeauAPropos div:nth-child(3){
		border: none;
	}

	/* ---- Nos boutiques ---- */

	section.nosBoutiques iframe {
		width: 100%;
		height: 100%;
	}

	section.nosBoutiques .boutique {
		width: 80%;
		float: none;
	}

	/* ---- Plan du site ---- */

	section.planSite  {
		width: 100%;
	}

	section.planSite div.col-plan {
		float: none;
		width: 80%;
	}

	/* ---- Devis ---- */

	.formulaire .etapes .jauge {
		width: 15%;
	}

	.formulaire .etapes .etape {
		width: 10%;
		margin: 5px;
		font-size: 0.8em;
	}

	.formulaire .etapes .etape img {
		width: 30px;
	}

	.formulaire .precedent {
		font-size: 0.8em;
	}

	/* ---- Pose ---- */

	.formulaire .pose {
		width: 100%;
	}

	.formulaire img.photoPose {
		width: 90%;
	}

	.formulaire .float-left {
		float: none;
	}

	.formulaire .float-right {
		float: none;
	}
	
	/* ---- FOOTER ---- */
	
	.sectionInfos {
		width: 100%;
	}
	
	.sectionInfos div.infosEshop {
		float: none;
	}	
	
	.sectionInfos div.infosEshop.col1 {
		width: 100%;
		margin-right: 60px;
	}

	.sectionInfos div.infosEshop.col2 {
		width: 100%;
		margin-right: 30px;
	}

	.sectionInfos div.infosEshop.col3 {
		width: 100%;
	}
	
	footer .conteneurFooter { 
		width: 50%;
		text-align: center;
	}

	footer .col-foot {
		width: 100%;
		float: left;
	}

	footer img.map-google { 
		margin-left: 35px;
	}

	footer .qualite { 
    left: 0px;
	}

}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ============== Moins de 480px =============== */